* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

    /* Contenedor principal */
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* clearfix para las filas */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    /* clearfix para lo que no son filas */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Estilo base para todas las columnas */
    [class*="col-"] {
        float: left;
        width: 100%;
        /* Por defecto, ocupan todo el ancho */
        padding: 5px;
    }
        
    @media (min-width: --px) {
        .col-small-1 { width: 8.33333%; }
        .col-small-2 { width: 16.66667%; }
        .col-small-3 { width: 25%; }
        .col-small-4 { width: 33.33333%; }
        .col-small-5 { width: 41.66667%; }
        .col-small-6 { width: 50%; }
        .col-small-7 { width: 58.33333%; }
        .col-small-8 { width: 66.66667%; }
        .col-small-9 { width: 75%; }
        .col-small-10 { width: 83.33333%; }
        .col-small-11 { width: 91.66667%; }
        .col-small-12 { width: 100%; }
    }

    @media (min-width: --px) {
        .col-large-1 { width: 8.33333%; }
        .col-large-2 { width: 16.66667%; }
        .col-large-3 { width: 25%; }
        .col-large-4 { width: 33.33333%; }
        .col-large-5 { width: 41.66667%; }
        .col-large-6 { width: 50%; }
        .col-large-7 { width: 58.33333%; }
        .col-large-8 { width: 66.66667%; }
        .col-large-9 { width: 75%; }
        .col-large-10 { width: 83.33333%; }
        .col-large-11 { width: 91.66667%; }
        .col-large-12 { width: 100%; }
    }

